<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel='stylesheet' href='style.css'>
  <link href='../assets/favicon.png' rel='shortcut icon' type='image/x-icon'>
  <title>flooming 관리자 페이지</title>
</head>

<body class="mainBody">
  <!-- header -->
  <section class="logoContainer">
    <img class="logoIcon" src=" ../icon.png" alt="icon">
    Flooming Reports
  </section>

  <!-- contents -->
  <main class="contents">
    <section class="contentContainer">
      <section class="contentHeader">
        <div>
          <span class="id"># 1</span>
          <span class="galleryId">Gallery ID : 갤러리아이디</span>
        </div>
        <div>
          <button class="returnButton">추가</button>
          <button class="deleteButton">삭제</button>
        </div>
      </section>

      <section class="contentImageContainer">
        <img class="image" src="../mainPhoto.jpg" alt="photo" />
        <img class="image" src="../illustrationimageEx.jpg" alt="picture" />
      </section>

      <section class="contentTextContainer">
        <span class="comment">코멘트</span>
        <span class="reason">사유 : 신고사유</span>
      </section>

      <section class="contentDateContainer">
        <span class="reportDate">날짜</span>
      </section>
    </section>
  </main>
</body>

</html>